{% extends "handbook/base.html" %}
{% load rest_framework %}

{% block title %}
    Add
{% endblock %}

{% block body %}
    <div class="mx-5 my-3">
        <form action="{% url 'add_url' %}" method="POST">
            {% csrf_token %}
            {% render_form serializer %}
            <a href="{% url 'show_all_url' %}" role="Button" class="btn btn-secondary px-3 mr-2 my-2">Назад</a>
            <button type="Submit" class="btn btn-success px-3 my-2">Добавить</button>
        </form>
    </div>
{% endblock %}