{% extends "handbook/base.html" %}

{% block title %}
    show_{{ pk }}
{% endblock %}

{% block body %}
    {{ serializer.data.device_type }} <br/>
    {{ serializer.data.address }} <br/>
    {{ serializer.data.latitude }} <br/>
    {{ serializer.data.longitude }} <br/>
    {{ serializer.data.radius }} <br/>
    <button class="btn btn-primary h">sda</button>
{% endblock %}