{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css\style.css' %}">
    <title>
        {% block title %}

        {% endblock %}
    </title>



</head>
<body>
    <nav class="navbar navbar-dark bg-dark px-4 py-2">
        <h4><a href="{% url 'show_all_url' %}" style="color: white">Справочник устройств оповещения</a></h4>
            <form class="form-inline my-2">
                {% if isAdmin %}
                    <a href="http://localhost:8000/api/v1/handbook/admin/logout/" class="btn btn-outline-light px-3"
                       role="button">LogOut</a>

                {% else %}
                    <a href="http://localhost:8000/api/v1/handbook/admin/login/" class="btn btn-outline-light px-3"
                       role="button">LogIn</a>
                {% endif %}
            </form>
    </nav>

    {% block body %}

    {% endblock %}
</form>

</body>
</html>