{% extends "handbook/base.html" %}

{% block title %}
    show_all
{% endblock %}

{% block body %}
    <div class="container-lg m-4 p-0">

        <!-- Add button -->
        <div class="row  mb-4">
            <div class="col-12">
                <a role="button" href="{% url 'add_url' %}" class="btn btn-success">
                    Добавить устройство
                </a>
            </div>
        </div>

        <!-- Content -->
        <div class="row">
            <div class="col-12">
                <table class="table m-auto">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col" style="width: 5%">id</th>
                        <th scope="col" style="width: 20%">Тип устройства</th>

                        {% if isAdmin %}
                            <th scope="col" style="width: 55%">Адрес</th>
                        {% else %}
                            <th scope="col" style="width: 65%">Адрес</th>
                        {% endif %}

                        <th scope="col" style="width: 10%">Радиус</th>

                        {% if isAdmin %}
                            <th scope="col" style="width: 5%"></th>
                            <th scope="col" style="width: 5%"></th>
                        {% endif %}
                    </tr>
                    </thead>

                    <tbody>
                    {% for device in data %}
                        <tr>
                            <th scope="row">{{ device.id }}</th>

                            {% if device.device_type == 'Siren' %}
                                <td>Сирена</td>
                            {% else %}
                                <td>Громкоговоритель</td>
                            {% endif %}

                            <td>
                                {{ device.address }}
                                <p style="font-size: .7rem" class="mb-0 mt-2">Широта: {{ device.latitude }}</p>
                                <p style="font-size: .7rem" class="mb-0">Долгота: {{ device.longitude }}</p>
                            </td>

                            <td>{{ device.radius }} м.</td>

                            {% if isAdmin %}
                                <td class="pr-0">
                                    <form action="{% url 'update_url' device.id %}" method="GET">
                                        {% csrf_token %}

                                        <button class="btn btn-sm btn-primary"
                                                style="border-top-right-radius: 0; border-bottom-right-radius: 0">
                                            Update
                                        </button>
                                    </form>
                                </td>

                                <td class="pl-0">
                                    <form action="{% url 'destroy_url' device.id %}" method="POST">
                                        {% csrf_token %}

                                        <button class="btn btn-sm btn-danger" type="submit"
                                                style="border-top-left-radius: 0; border-bottom-left-radius: 0">
                                            Delete
                                        </button>
                                    </form>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Pagination -->
        <div class="row h-100 mt-4">
            <div class="col-12 align-self-center">
                <nav aria-label="...">
                    <ul class="pagination justify-content-center">
                        {% if paginator.previous_url != None %}
                            <li class="page-item">
                                <a class="page-link" href="{{ paginator.previous_url }}">Назад</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Назад</a>
                            </li>
                        {% endif %}

                        {% for page in paginator.page_links %}
                            {% if page.is_active %}
                                <li class="page-item active" aria-current="page">
                                    <a class="page-link" href="{{ page.url }}">{{ page.number }}<span class="sr-only">(current)</span></a>
                                </li>
                            {% elif page.is_break %}
                                <li class="page-item disabled" aria-current="page">
                                    <a class="page-link" href="#">...<span class="sr-only">(current)</span></a>
                                </li>
                            {% else %}
                                <li class="page-item"><a class="page-link" href="{{ page.url }}">{{ page.number }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}

                        {% if paginator.next_url != None %}
                            <li class="page-item">
                                <a class="page-link" href="{{ paginator.next_url }}">Вперед</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Вперед</a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>


{% endblock %}