{% extends 'handbook\base.html' %}
{% load rest_framework %}

{% block title %}
    update
{% endblock %}

{% block body %}
    <div class="container-lg m-4 p-0">

        <div class="row">
            <div class="col-12">
                <table class="table m-auto">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col" style="width: 5%">id</th>
                        <th scope="col" style="width: 20%">Тип устройства</th>
                        <th scope="col" style="width: 55%">Адрес</th>
                        <th scope="col" style="width: 10%">Радиус</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                        <th scope="row">{{ data.id }}</th>

                        {% if data.device_type == 'Siren' %}
                            <td>Сирена</td>
                        {% else %}
                            <td>Громкоговоритель</td>
                        {% endif %}

                        <td>
                            {{ data.address }}
                            <p style="font-size: .7rem" class="mb-0 mt-2">Широта: {{ data.latitude }}</p>
                            <p style="font-size: .7rem" class="mb-0">Долгота: {{ data.longitude }}</p>
                        </td>

                        <td>{{ data.radius }} м.</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <form action="{% url 'update_url' pk %}" method="post">
                    {% csrf_token %}
                    {% render_form serializer %}

                    <a href="{% url 'show_all_url' %}" role="Button" class="btn btn-secondary px-3 mr-2 my-2">Назад</a>
                    <button type="Submit" class="btn btn-success px-3 my-2">Обновить</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}